{
  "x-generator": "NSwag v13.19.0.0 (NJsonSchema v10.9.0.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "FlowAccount Open API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://openapi.flowaccount.com/v3-alpha",
      "description": "The prod server"
    }
  ],
  "paths": {
    "/{culture}/cash-invoices": {
      "get": {
        "tags": [
          "CashInvoice"
        ],
        "summary": "To query for documents.",
        "operationId": "CashInvoice_Index",
        "parameters": [
          {
            "name": "SortBy",
            "in": "query",
            "description": "เป็น json string ของ object array ที่ระบุข้อมูลที่อยากเรียง ex. [{\"name\":\"name\",\"sortOrder\":\"asc\"}]",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "CurrentPage",
            "in": "query",
            "description": "เลขระบุหน้าของข้อมูลที่ค้นหา ex. 1",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "เลขระบุจำนวนข้อมูลต่อหน้าของข้อมูลที่ค้นหา ex. 20",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "Filter",
            "in": "query",
            "description": "เป็น json string ของ object array ที่ระบุข้อมูลที่อยากกรอง ex. [{\"columnName\":\"Type\",\"columnValue\":\"1\",\"columnPredicateOperator\":\"And\"}]",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "SearchString",
            "in": "query",
            "description": "เป็น keyword ใช้ค้นหา ex. \"ทดลอง\"",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "CustomDocumentModels",
            "in": "query",
            "description": "flag ของ DocumentService ที่ใช้ในการค้นหา Document ที่มีการเปลี่ยนจากฝั่งขายเป็นฝั่งซื้อ ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 1 (ใช่) / 0 (ไม่ใช่)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "Range",
            "in": "query",
            "description": "ค่าระบุรูปแบบค่าช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 0 (ไม่มี) / 1 (เดือนปัจจุบัน) / 3 (เดือนก่อน) เป็นต้น",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "Month",
            "in": "query",
            "description": "ค่าระบุเลขเดือนของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 1",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "Year",
            "in": "query",
            "description": "ค่าระบุเลขปีของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 2022",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "ค่าระบุวันที่เริ่มต้นของช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 2023-08-01",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 10
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "ค่าระบุวันที่สิ้นสุดของช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex.  2023-08-31",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 11
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 12
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "CashInvoice"
        ],
        "operationId": "CashInvoice_CreateSimple",
        "parameters": [
          {
            "name": "versionAlias",
            "in": "query",
            "schema": {
              "default": 3,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OpenApiVersionAlias"
                }
              ]
            },
            "x-position": 2
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/{id}": {
      "get": {
        "tags": [
          "CashInvoice"
        ],
        "summary": "To get details of a document",
        "operationId": "CashInvoice_Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sql DocumentId",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/batch-metadata": {
      "get": {
        "tags": [
          "CashInvoice"
        ],
        "summary": "To get details of a document",
        "operationId": "CashInvoice_GenerateBacthIdMetadata",
        "parameters": [
          {
            "name": "fileName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchImportMetadata"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/batch-import-history": {
      "post": {
        "tags": [
          "CashInvoice"
        ],
        "operationId": "CashInvoice_QueryBatchHistory",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchHistory"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/inline": {
      "post": {
        "tags": [
          "CashInvoice"
        ],
        "operationId": "CashInvoice_CreateInline",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InlineDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/query-batch": {
      "post": {
        "tags": [
          "CashInvoice"
        ],
        "operationId": "CashInvoice_QueryBatch",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/BatchImportStatus"
            },
            "x-position": 2
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "batchId",
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatus"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/retry-simple-documents": {
      "post": {
        "tags": [
          "CashInvoice"
        ],
        "operationId": "CashInvoice_RetrySimpleDocuments",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "retryRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchImportRetry"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/mark-viewed": {
      "post": {
        "tags": [
          "CashInvoice"
        ],
        "summary": "Mark the batch as viewed in notification.",
        "operationId": "CashInvoice_MarkViewed",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "batchId",
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/simple-document": {
      "post": {
        "tags": [
          "CashInvoice"
        ],
        "summary": "To Create a document with SimpleDocument as the parameter",
        "operationId": "CashInvoice_ActorCreate",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "simpleDocuments",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchMessageSent"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/inline-document": {
      "post": {
        "tags": [
          "CashInvoice"
        ],
        "summary": "To Create a document with InlineDocument as the parameter",
        "operationId": "CashInvoice_ActorCreateInline",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "inlineDocuments",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InlineDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchMessageSent"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/simple-document-sync": {
      "post": {
        "tags": [
          "CashInvoice"
        ],
        "summary": "To Create a document with SourceDocument as the parameter",
        "operationId": "CashInvoice_Create",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/{culture}/cash-invoices/inline-document-sync": {
      "post": {
        "tags": [
          "CashInvoice"
        ],
        "operationId": "CashInvoice_CreateInlineSync",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InlineDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/{culture}/cash-invoices/{documentId}/status/{statusKey}": {
      "post": {
        "tags": [
          "CashInvoice"
        ],
        "summary": "To change status by the document id and key",
        "operationId": "CashInvoice_ChangeStatusByKey",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "statusKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/{id}/payments": {
      "post": {
        "tags": [
          "CashInvoice"
        ],
        "operationId": "CashInvoice_ReceivePayment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "sourcePayment",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/get-presign-for-upload": {
      "post": {
        "tags": [
          "CashInvoice"
        ],
        "operationId": "CashInvoice_GetPresign",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchImportPayload"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/get-presign-for-upload-simpledoc": {
      "post": {
        "tags": [
          "CashInvoice"
        ],
        "operationId": "CashInvoice_GetPresign2",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchImportPayload"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/get-batch-import-org-file/{batchId}": {
      "get": {
        "tags": [
          "CashInvoice"
        ],
        "operationId": "CashInvoice_GetOrgingalFile",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/get-batch-s3-data/{batchId}": {
      "get": {
        "tags": [
          "CashInvoice"
        ],
        "operationId": "CashInvoice_GetBatchS3Data",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/custom-template": {
      "post": {
        "tags": [
          "CashInvoice"
        ],
        "operationId": "CashInvoice_UpsertCustomTemplate",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomTemplate"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/custom-template/{templateId}": {
      "get": {
        "tags": [
          "CashInvoice"
        ],
        "operationId": "CashInvoice_GetCustomTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "CashInvoice"
        ],
        "operationId": "CashInvoice_DeleteCustomTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices/delete-batch-metadata/{batchId}": {
      "get": {
        "tags": [
          "CashInvoice"
        ],
        "operationId": "CashInvoice_DeleteBatchMetadata",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices-open-api/with-payment": {
      "post": {
        "tags": [
          "CashInvoiceOpenAPI"
        ],
        "operationId": "CashInvoiceOpenAPI_CreateSimplePaidDocument",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "simpleDocument",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices-open-api/inline/with-payment": {
      "post": {
        "tags": [
          "CashInvoiceOpenAPI"
        ],
        "operationId": "CashInvoiceOpenAPI_CreateInlinePaidDocument",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "inlineDocument",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InlineDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices-open-api": {
      "get": {
        "tags": [
          "CashInvoiceOpenAPI"
        ],
        "summary": "To query for documents.",
        "operationId": "CashInvoiceOpenAPI_Index",
        "parameters": [
          {
            "name": "SortBy",
            "in": "query",
            "description": "เป็น json string ของ object array ที่ระบุข้อมูลที่อยากเรียง ex. [{\"name\":\"name\",\"sortOrder\":\"asc\"}]",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "CurrentPage",
            "in": "query",
            "description": "เลขระบุหน้าของข้อมูลที่ค้นหา ex. 1",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "เลขระบุจำนวนข้อมูลต่อหน้าของข้อมูลที่ค้นหา ex. 20",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "Filter",
            "in": "query",
            "description": "เป็น json string ของ object array ที่ระบุข้อมูลที่อยากกรอง ex. [{\"columnName\":\"Type\",\"columnValue\":\"1\",\"columnPredicateOperator\":\"And\"}]",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "SearchString",
            "in": "query",
            "description": "เป็น keyword ใช้ค้นหา ex. \"ทดลอง\"",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "CustomDocumentModels",
            "in": "query",
            "description": "flag ของ DocumentService ที่ใช้ในการค้นหา Document ที่มีการเปลี่ยนจากฝั่งขายเป็นฝั่งซื้อ ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 1 (ใช่) / 0 (ไม่ใช่)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "Range",
            "in": "query",
            "description": "ค่าระบุรูปแบบค่าช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 0 (ไม่มี) / 1 (เดือนปัจจุบัน) / 3 (เดือนก่อน) เป็นต้น",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "Month",
            "in": "query",
            "description": "ค่าระบุเลขเดือนของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 1",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "Year",
            "in": "query",
            "description": "ค่าระบุเลขปีของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 2022",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "ค่าระบุวันที่เริ่มต้นของช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 2023-08-01",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 10
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "ค่าระบุวันที่สิ้นสุดของช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex.  2023-08-31",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 11
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 12
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "CashInvoiceOpenAPI"
        ],
        "summary": "To Create a document with SourceDocument as the parameter",
        "operationId": "CashInvoiceOpenAPI_CreateSimple",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices-open-api/{id}": {
      "get": {
        "tags": [
          "CashInvoiceOpenAPI"
        ],
        "summary": "To get details of a document",
        "operationId": "CashInvoiceOpenAPI_Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sql DocumentId",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "CashInvoiceOpenAPI"
        ],
        "summary": "To Update a document with SimpleDocument as the parameter",
        "operationId": "CashInvoiceOpenAPI_Edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleDocument"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "CashInvoiceOpenAPI"
        ],
        "summary": "To delete the document given a list of documentids",
        "operationId": "CashInvoiceOpenAPI_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices-open-api/inline": {
      "post": {
        "tags": [
          "CashInvoiceOpenAPI"
        ],
        "operationId": "CashInvoiceOpenAPI_CreateInline",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InlineDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices-open-api/inline/{id}": {
      "put": {
        "tags": [
          "CashInvoiceOpenAPI"
        ],
        "summary": "To Update a document with SimpleDocument as the parameter",
        "operationId": "CashInvoiceOpenAPI_EditInline",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InlineDocument"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices-open-api/{documentId}/status/{statusKey}": {
      "post": {
        "tags": [
          "CashInvoiceOpenAPI"
        ],
        "summary": "To change status by the document id and key",
        "operationId": "CashInvoiceOpenAPI_ChangeStatusByKey",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "statusKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/cash-invoices-open-api/{id}/payment": {
      "post": {
        "tags": [
          "CashInvoiceOpenAPI"
        ],
        "summary": "Receieve Payments for the document id passed in",
        "operationId": "CashInvoiceOpenAPI_ReceivePayment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "sourcePayment",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/billing-notes": {
      "get": {
        "tags": [
          "BillingNote"
        ],
        "summary": "To query for documents.",
        "operationId": "BillingNote_Index",
        "parameters": [
          {
            "name": "SortBy",
            "in": "query",
            "description": "เป็น json string ของ object array ที่ระบุข้อมูลที่อยากเรียง ex. [{\"name\":\"name\",\"sortOrder\":\"asc\"}]",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "CurrentPage",
            "in": "query",
            "description": "เลขระบุหน้าของข้อมูลที่ค้นหา ex. 1",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "เลขระบุจำนวนข้อมูลต่อหน้าของข้อมูลที่ค้นหา ex. 20",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "Filter",
            "in": "query",
            "description": "เป็น json string ของ object array ที่ระบุข้อมูลที่อยากกรอง ex. [{\"columnName\":\"Type\",\"columnValue\":\"1\",\"columnPredicateOperator\":\"And\"}]",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "SearchString",
            "in": "query",
            "description": "เป็น keyword ใช้ค้นหา ex. \"ทดลอง\"",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "CustomDocumentModels",
            "in": "query",
            "description": "flag ของ DocumentService ที่ใช้ในการค้นหา Document ที่มีการเปลี่ยนจากฝั่งขายเป็นฝั่งซื้อ ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 1 (ใช่) / 0 (ไม่ใช่)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "Range",
            "in": "query",
            "description": "ค่าระบุรูปแบบค่าช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 0 (ไม่มี) / 1 (เดือนปัจจุบัน) / 3 (เดือนก่อน) เป็นต้น",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "Month",
            "in": "query",
            "description": "ค่าระบุเลขเดือนของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 1",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "Year",
            "in": "query",
            "description": "ค่าระบุเลขปีของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 2022",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "ค่าระบุวันที่เริ่มต้นของช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 2023-08-01",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 10
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "ค่าระบุวันที่สิ้นสุดของช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex.  2023-08-31",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 11
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 12
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "BillingNote"
        ],
        "summary": "To Create a document with SourceDocument as the parameter",
        "operationId": "BillingNote_CreateSimple",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/billing-notes/{id}": {
      "get": {
        "tags": [
          "BillingNote"
        ],
        "summary": "To get details of a document",
        "operationId": "BillingNote_Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sql DocumentId",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "BillingNote"
        ],
        "summary": "To Update a document with SimpleDocument as the parameter",
        "operationId": "BillingNote_Edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleDocument"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "BillingNote"
        ],
        "summary": "To delete the document given a list of documentids",
        "operationId": "BillingNote_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/billing-notes/inline": {
      "post": {
        "tags": [
          "BillingNote"
        ],
        "operationId": "BillingNote_CreateInline",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InlineDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/billing-notes/inline/{id}": {
      "put": {
        "tags": [
          "BillingNote"
        ],
        "summary": "To Update a document with SimpleDocument as the parameter",
        "operationId": "BillingNote_EditInline",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InlineDocument"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/billing-notes/{documentId}/status/{statusKey}": {
      "post": {
        "tags": [
          "BillingNote"
        ],
        "summary": "To change status by the document id and key",
        "operationId": "BillingNote_ChangeStatusByKey",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "statusKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/billing-notes/{id}/payment": {
      "post": {
        "tags": [
          "BillingNote"
        ],
        "summary": "Receieve Payments for the document id passed in",
        "operationId": "BillingNote_ReceivePayment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "sourcePayment",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/quotations": {
      "get": {
        "tags": [
          "Quotation"
        ],
        "summary": "To query for documents.",
        "operationId": "Quotation_Index",
        "parameters": [
          {
            "name": "SortBy",
            "in": "query",
            "description": "เป็น json string ของ object array ที่ระบุข้อมูลที่อยากเรียง ex. [{\"name\":\"name\",\"sortOrder\":\"asc\"}]",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "CurrentPage",
            "in": "query",
            "description": "เลขระบุหน้าของข้อมูลที่ค้นหา ex. 1",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "เลขระบุจำนวนข้อมูลต่อหน้าของข้อมูลที่ค้นหา ex. 20",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "Filter",
            "in": "query",
            "description": "เป็น json string ของ object array ที่ระบุข้อมูลที่อยากกรอง ex. [{\"columnName\":\"Type\",\"columnValue\":\"1\",\"columnPredicateOperator\":\"And\"}]",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "SearchString",
            "in": "query",
            "description": "เป็น keyword ใช้ค้นหา ex. \"ทดลอง\"",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "CustomDocumentModels",
            "in": "query",
            "description": "flag ของ DocumentService ที่ใช้ในการค้นหา Document ที่มีการเปลี่ยนจากฝั่งขายเป็นฝั่งซื้อ ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 1 (ใช่) / 0 (ไม่ใช่)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "Range",
            "in": "query",
            "description": "ค่าระบุรูปแบบค่าช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 0 (ไม่มี) / 1 (เดือนปัจจุบัน) / 3 (เดือนก่อน) เป็นต้น",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "Month",
            "in": "query",
            "description": "ค่าระบุเลขเดือนของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 1",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "Year",
            "in": "query",
            "description": "ค่าระบุเลขปีของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 2022",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "ค่าระบุวันที่เริ่มต้นของช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 2023-08-01",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 10
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "ค่าระบุวันที่สิ้นสุดของช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex.  2023-08-31",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 11
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 12
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Quotation"
        ],
        "summary": "To Create a document with SourceDocument as the parameter",
        "operationId": "Quotation_CreateSimple",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/quotations/{id}": {
      "get": {
        "tags": [
          "Quotation"
        ],
        "summary": "To get details of a document",
        "operationId": "Quotation_Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sql DocumentId",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Quotation"
        ],
        "summary": "To Update a document with SimpleDocument as the parameter",
        "operationId": "Quotation_Edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleDocument"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Quotation"
        ],
        "summary": "To delete the document given a list of documentids",
        "operationId": "Quotation_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/quotations/inline": {
      "post": {
        "tags": [
          "Quotation"
        ],
        "operationId": "Quotation_CreateInline",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InlineDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/quotations/inline/{id}": {
      "put": {
        "tags": [
          "Quotation"
        ],
        "summary": "To Update a document with SimpleDocument as the parameter",
        "operationId": "Quotation_EditInline",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InlineDocument"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/quotations/{documentId}/status/{statusKey}": {
      "post": {
        "tags": [
          "Quotation"
        ],
        "summary": "To change status by the document id and key",
        "operationId": "Quotation_ChangeStatusByKey",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "statusKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/quotations/{id}/payment": {
      "post": {
        "tags": [
          "Quotation"
        ],
        "summary": "Receieve Payments for the document id passed in",
        "operationId": "Quotation_ReceivePayment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "sourcePayment",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/receipts/categories/business": {
      "get": {
        "tags": [
          "Receipt"
        ],
        "operationId": "Receipt_GetBusinessCategories",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/receipts/categories/accounting": {
      "get": {
        "tags": [
          "Receipt"
        ],
        "operationId": "Receipt_GetChartOfAccounts",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/receipts": {
      "get": {
        "tags": [
          "Receipt"
        ],
        "summary": "To query for documents.",
        "operationId": "Receipt_Index",
        "parameters": [
          {
            "name": "SortBy",
            "in": "query",
            "description": "เป็น json string ของ object array ที่ระบุข้อมูลที่อยากเรียง ex. [{\"name\":\"name\",\"sortOrder\":\"asc\"}]",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "CurrentPage",
            "in": "query",
            "description": "เลขระบุหน้าของข้อมูลที่ค้นหา ex. 1",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "เลขระบุจำนวนข้อมูลต่อหน้าของข้อมูลที่ค้นหา ex. 20",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "Filter",
            "in": "query",
            "description": "เป็น json string ของ object array ที่ระบุข้อมูลที่อยากกรอง ex. [{\"columnName\":\"Type\",\"columnValue\":\"1\",\"columnPredicateOperator\":\"And\"}]",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "SearchString",
            "in": "query",
            "description": "เป็น keyword ใช้ค้นหา ex. \"ทดลอง\"",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "CustomDocumentModels",
            "in": "query",
            "description": "flag ของ DocumentService ที่ใช้ในการค้นหา Document ที่มีการเปลี่ยนจากฝั่งขายเป็นฝั่งซื้อ ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 1 (ใช่) / 0 (ไม่ใช่)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "Range",
            "in": "query",
            "description": "ค่าระบุรูปแบบค่าช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 0 (ไม่มี) / 1 (เดือนปัจจุบัน) / 3 (เดือนก่อน) เป็นต้น",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "Month",
            "in": "query",
            "description": "ค่าระบุเลขเดือนของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 1",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "Year",
            "in": "query",
            "description": "ค่าระบุเลขปีของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 2022",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "ค่าระบุวันที่เริ่มต้นของช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 2023-08-01",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 10
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "ค่าระบุวันที่สิ้นสุดของช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex.  2023-08-31",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 11
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 12
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "To Create a document with SourceDocument as the parameter",
        "operationId": "Receipt_CreateSimple",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/receipts/{id}": {
      "get": {
        "tags": [
          "Receipt"
        ],
        "summary": "To get details of a document",
        "operationId": "Receipt_Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sql DocumentId",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Receipt"
        ],
        "summary": "To Update a document with SimpleDocument as the parameter",
        "operationId": "Receipt_Edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleDocument"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Receipt"
        ],
        "summary": "To delete the document given a list of documentids",
        "operationId": "Receipt_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/receipts/inline": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "operationId": "Receipt_CreateInline",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InlineDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/receipts/inline/{id}": {
      "put": {
        "tags": [
          "Receipt"
        ],
        "summary": "To Update a document with SimpleDocument as the parameter",
        "operationId": "Receipt_EditInline",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InlineDocument"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/receipts/{documentId}/status/{statusKey}": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "To change status by the document id and key",
        "operationId": "Receipt_ChangeStatusByKey",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "statusKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/receipts/{id}/payment": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "Receieve Payments for the document id passed in",
        "operationId": "Receipt_ReceivePayment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "sourcePayment",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/{culture}/receivable-invoices": {
      "get": {
        "tags": [
          "ReceivableInvoice"
        ],
        "summary": "To query for documents.",
        "operationId": "ReceivableInvoice_Index",
        "parameters": [
          {
            "name": "SortBy",
            "in": "query",
            "description": "เป็น json string ของ object array ที่ระบุข้อมูลที่อยากเรียง ex. [{\"name\":\"name\",\"sortOrder\":\"asc\"}]",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "CurrentPage",
            "in": "query",
            "description": "เลขระบุหน้าของข้อมูลที่ค้นหา ex. 1",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "เลขระบุจำนวนข้อมูลต่อหน้าของข้อมูลที่ค้นหา ex. 20",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "Filter",
            "in": "query",
            "description": "เป็น json string ของ object array ที่ระบุข้อมูลที่อยากกรอง ex. [{\"columnName\":\"Type\",\"columnValue\":\"1\",\"columnPredicateOperator\":\"And\"}]",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "SearchString",
            "in": "query",
            "description": "เป็น keyword ใช้ค้นหา ex. \"ทดลอง\"",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "CustomDocumentModels",
            "in": "query",
            "description": "flag ของ DocumentService ที่ใช้ในการค้นหา Document ที่มีการเปลี่ยนจากฝั่งขายเป็นฝั่งซื้อ ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 1 (ใช่) / 0 (ไม่ใช่)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "Range",
            "in": "query",
            "description": "ค่าระบุรูปแบบค่าช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 0 (ไม่มี) / 1 (เดือนปัจจุบัน) / 3 (เดือนก่อน) เป็นต้น",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "Month",
            "in": "query",
            "description": "ค่าระบุเลขเดือนของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 1",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "Year",
            "in": "query",
            "description": "ค่าระบุเลขปีของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 2022",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "ค่าระบุวันที่เริ่มต้นของช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex. 2023-08-01",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 10
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "ค่าระบุวันที่สิ้นสุดของช่วงเวลาของข้อมูลที่จะค้นหา ของ DocumentService ที่ใช้ในการค้นหา Document ปล่อยว่างหรือไม่ระบุได้หากไม่มี ex.  2023-08-31",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 11
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 12
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "ReceivableInvoice"
        ],
        "summary": "To Create a document with SourceDocument as the parameter",
        "operationId": "ReceivableInvoice_CreateSimple",
        "parameters": [
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleDocument"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
[...]
